<!-- Contact -->
<div class="mb6">
  <h4 class="f3 b lh-title mb2 tc">How Can We Help You?</h4>

  <form action="">

    <!-- Name -->
    <fieldset>
      <input type="text" id="name" name="name" placeholder="Name" class="w-100 mb2">
      <label for="name">Name</label>
    </fieldset>

    <!-- Phone -->
    <fieldset>
      <input type="tel" id="phone" name="phone" placeholder="Phone" class="w-100 mb2">
      <label for="phone">Phone</label>
    </fieldset>

    <!-- Email -->
    <fieldset>
      <input type="email" id="email" name="email" placeholder="Email" class="w-100 mb2">
      <label for="email">Email</label>
    </fieldset>

    <!-- Message -->
    <fieldset>
      <textarea id="message" name="message" placeholder="How may we help you today?" rows="8" cols="80" class="w-100"></textarea>
      <label for="message">Your Message</label>
    </fieldset>

    <!-- Button -->
    <div class="tc">
      <button type="submit" class="btn w-100 w-auto-ns raise">Submit</button>
    </div>
  </form>
</div>