<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/logo.svg" alt="Dent Touch, LLC." class="db w4 center mb4 br0">
			<p class="f3 lh-title light-gray b tc mb2">Newsletter subscribe</p>
			<p>Get awesome news from us in your inbox every two weeks. Be the first to learn about new products.</p>

			{{ partial "newsletter-form" . }}

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Dent Touch, LLC.</h3>
				<table>
					<tr>
						<td>&#127970;</td>
						<td><a href="https://goo.gl/maps/yXmWn6CbkRqQCRfMA" class="link">
							14832 Venture Drive<br>Farmers Branch, TX 75234</a>
						</td>
					</tr>
					<tr>
						<td>&#x2709;</td>
						<td><div id="postoffice1">denttouch</div></td>
					</tr>
					<tr>
						<td>☎</td>
						<td><div id="switchboardoperator1">432&#45;</div></td>
					</tr>
				</table>
				<br>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-twitter") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-instagram") }}
				</ul>
			</div>

			<div></div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Get Directions</h3>
				<iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d3347.9940732859986!2d-96.86069114895233!3d32.95116588229822!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e0!4m0!4m5!1s0x864c26e996bb7b31%3A0xfb247e91716fda81!2s14832+Venture+Dr%2C+Farmers+Branch%2C+TX+75234!3m2!1d32.9511614!2d-96.8584971!5e0!3m2!1sen!2sus!4v1564028041875!5m2!1sen!2sus" width="300" height="225" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
