{{ define "main" }}

<div class="ph3 bg-off-white">
	<div class="center mw6 pv3">

		<img src="{{ .Params.logo }}" alt="" class="db w6 center pv4">

		{{ .Content }}

		{{ partial "contact-form" . }}

		{{ range .Params.contact_entries }}
		<div class="mb6">
			<h4 class="f4 b lh-title primary">{{ .heading }}</h4>
			<p>{{ .address }}</p>
			<iframe src="{{ .map_source }}" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
		{{ end }}

	</div>
</div>

{{ end }}
